body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  linear-gradient(#4f6d7a, #dbe9ee);
    font-family: Arial, Helvetica;
    border: none;
}

div {
    border-radius: 8px;
    box-shadow: 8px 8px 8px -2px rgba(0, 0, 0, 0.61);
}

.row1 {
    display: flex;
    background-color: #4f6d7a;
}

.row2 {
    display: flex;
    background-color: #4a6fa5;
}

.row3 {
    display: flex;
    background-color: #166088;
}
