<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>UC Merced Web App Demo</title>
    <script src="jquery.js"></script>
    <script src="main.js"></script>
    
</head>

<body>
    <h1>CrowApp Demo</h1>
    <h2>Hello World</h2>
    <button onclick="clickHello()">Say Hello</button><br><br>
    <div id="hello-area"></div>

    <h2>Echo</h2>
    Enter a Word<br>
    <input id="echo-input"><br><br>
    <button onclick="clickEcho()">Echo Word</button><br><br>
    <div id="echo-area"></div>

    <h2>Super Bowl</h2>
    Click to get the score of the latest Super Bowl.<br><br>
    <button onclick="clickScore()">Get Score</button><br><br>
    <div id="score-area"></div>

    <h2>Upper Case</h2>
    Enter for uppercase version.<br><br>
    <input id="uppercase-input"><br><br>
    <button onclick="clickUpper()">Get Upper Case</button><br><br>
    <div id="upper-area"></div>
</body>

</html>
