<!DOCTYPE html>
<html lang="en">

<head>
    <title>Student Portal</title>
</head>

<body>
    <main id="main-holder">

        <h3>Welcome {{ student }}!</h3>
        <h1 class="header">ACME University</h1>
        <h3><a href="{{ url_for('/logout') }}">Sign Out</a></h3>

        <div class="tab-panel">
            <ul class="tab-group">
                <li class="tab tab-A is-active">Your Courses</li>
                <li class="tab tab-B">Add Courses</li>
            </ul>
            <div class="panel-group">
                <div class="panel tab-A is-show">
                    Content-A
                    <table>

                        <head>
                            <tr>
                                <th>Course Name</th>
                                <th>Teacher</th>
                                <th>Time</th>
                                <th>Students Enrolled</th>
                            </tr>
                        </head>
                        <tbody>
                            {% for course in courses %}
                            <tr>
                                <td>{{ course.name }}</td>
                                <td>{{ course.teacher }}</td>
                                <td>{{ course.time }}</td>
                                <td>{{ course.students }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel tab-B">
                    Content-B
                    <table>

                        <head>
                            <tr>
                                <th>Course Name</th>
                                <th>Teacher</th>
                                <th>Time</th>
                                <th>Students Enrolled</th>
                                <th>Add Class</th>
                            </tr>
                        </head>
                        <tbody>
                            {% for student in students %}
                            <tr>
                                <td>{{ course.name }}</td>
                                <td>{{ course.teacher }}</td>
                                <td>{{ course.time }}</td>
                                <td>{{ course.students }}</td>
                                <td><input type="button"  /></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

</body>

</html>